.select-block label,
.input-block label,
.textarea-block label {
    font-size: 1.4rem;
    color: var(--color-text-complement);
}

.select-block select,
.input-block input,
.textarea-block textarea {
    width: 100%;
    height: 5.6rem;

    margin-top: 0.8rem;
    padding: 0 1.6rem;

    border-radius: 0.7rem;
    background-color: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;

    font-size: 1.6rem;
    font-family: Archivo;

    transition: all 300ms ease-in-out;
}

.textarea-block textarea {
    padding: 1.2rem 1.6rem;
    height: 16rem;

    resize: vertical;
}

.input-block {
    position: relative;
}

.input-block input:focus,
.textarea-block textarea:focus {
    border-bottom: 2px solid var(--color-primary-lighter);
}

/* 
.input-block:focus-within::after {
    content: "";

    width: calc(100%-3.2rem);
    height: 2px;

    background-color: var(--color-primary-light);

    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
} */